mixin advantages
	section(block="advantages")&attributes(attributes)
		.wrap
			.row.justify-content-center.justify-content-lg-between(elem="row")
				if block
					block

mixin adv-item(obj)
	.col-12.col-md-6.col-lg-auto(elem="col")
		div(elem="item" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay=obj.animationDelay)
			div(elem="item-img" mod=obj.imgMod)
				img(src="images/svg/advantage-"+obj.img+".svg" alt="" width=obj.imgWidth height=obj.imgHeight)
			div(elem="item-text")
				if block
					block
