mixin breadcrumbs(links, current)
	div(block="breadcrumbs")&attributes(attributes)
		each item in links
			div(elem="item")
				a.js-animated-link(href="index.html")=item
		div(elem="item")
			span=current