mixin checkbox(obj)
		label.ui-checkbox(class=obj.wrapClass)
			input.visuallyhidden.ui-checkbox__input(type="checkbox")&attributes(attributes)
			i.fa.fa-check.ui-checkbox__icon
			span.ui-checkbox__text=obj.labelText

mixin radiobox(obj)
		label.ui-radiobox(class=obj.wrapClass)
			input.visuallyhidden.ui-radiobox__input(type="radio")&attributes(attributes)
			i.ui-radiobox__icon
			span.ui-radiobox__text=obj.labelText