mixin footer
	footer(block="footer")
		.wrap
			.row.align-items-center(elem="row")
				.col-12.col-md-8.col-xl-auto
					.row.align-items-center
						.col-12.col-md-6.col-xl-auto.d-flex.justify-content-center.justify-content-md-start
							div(elem="logo")
								img(src="images/svg/logo.svg", alt="")

						.col-12.col-md-6.col-xl-auto.d-flex.justify-content-center
							div(elem="contacts")
								a(elem="tel" href="callto:88442901111")
									i.fa.fa-phone
									| 8 (8442) 90-11-11

								div(block="b-soc" mod="pos:footer")
									div(elem="inner")
										a(elem="item" href=href)
											i.fa.fa-vk
										a(elem="item" href=href)
											i.fa.fa-instagram
										a(elem="item" href=href)
											i.fa.fa-youtube-play
										a(elem="item" href=href)
											+svg('soc-viber')(width="1em" height="1em")
										a(elem="item" href=href)
											+svg('soc-whatsapp')(width="1em" height="1em")

				.col-12.col-md-4.col-xl
					nav.d-md-none.d-xl-block(block="f-nav")
						ul(elem="list")

							li(elem="item")
								a(elem="link" href=href) Об отеле
							li(elem="item")
								a(elem="link" href=href) Правила
							li(elem="item")
								a(elem="link" href=href) Пространств
							li(elem="item")
								a(elem="link" href=href) Цены
							li(elem="item")
								a(elem="link" href=href) Портфолио
							li(elem="item")
								a(elem="link" href=href) Контакты

					div.d-none.d-md-block.text-right(elem="developer")
						| Создание сайтов 
						a(href="//magwai.ru" target="_blank") Магвай