mixin header
	header(block="header")
		.wrap
			.row(elem="row")

				.col-auto(elem="logo-col")
					a.js-animated-link(elem="logo" href="index.html")
						img(elem="logo-img" src="images/svg/logo.svg", alt="")
						//- img(elem="logo-img-onscroll" src="images/svg/logo-onscroll.svg", alt="")

				.col.d-md-none.text-center
					div(block="b-soc" mod="pos:header")
						div(elem="inner")
							a(elem="item" href=href)
								i.fa.fa-vk
							a(elem="item" href=href)
								i.fa.fa-instagram
							a(elem="item" href=href)
								i.fa.fa-youtube-play

				.col-auto
					a(elem="tel" href="callto:88442901111")
						i.fa.fa-phone
						span.d-none.d-md-inline 8 (8442) 90-11-11

				.col-auto.ml-auto.d-flex.align-items-center(elem="col")
					nav(block="nav")
						ul(elem="list")

							mixin nav-item(num, title, url)
								li(elem="item" class=(activeNavItem == num ? 'active': '') )
									a.js-animated-link(elem="link" href=url+".html")=title

							+nav-item(1, 'Об отеле', 'about')
							+nav-item(6, 'Правила', 'rules')
							+nav-item(2, 'Пространства', 'spaces')
							+nav-item(3, 'Цены', 'prices')
							+nav-item(4, 'Портфолио', 'portfolio')
							+nav-item(5, 'Контакты', 'contacts')

					div.d-flex.align-items-center.justify-content-center(elem="btn-wrap")
						a.ajax-popup.btn.btn--red(href="ajax/popup-request.html") Оставить заявку

					.d-xl-none
						button(block="menu-trigger" mod="pos:header" type="button")
							i(elem="icon")
