mixin pagination
	ul(block="pagination")
		li.active(elem="item")
			span 1
		li(elem="item")
			a(href=href) 2
		li(elem="item")
			a(href=href) 3
		li(elem="item")
			a(href=href) 4
		li(elem="item")
			a(href=href) 5
		li(elem="item")
			span ...
		li(elem="item")
			a(href=href) 10