div(block="preloader")
	div(elem="content")
		//- img(src="images/svg/logo.svg", alt="")
		svg(elem="svg" xmlns='http://www.w3.org/2000/svg', viewbox='0 0 131.05 92.45' width="131" height="92")
			path(fill='#fff', fill-rule='evenodd' data-name='Path 118', d='M83.943 63.121h1.454l2.059-3.326h.029l-.014 3.326h1.238v-5.083H87.24l-2.059 3.312h-.014v-3.312h-1.224zm3.816-6.293l-.634-.346a.92.92 0 0 1-.331.375.984.984 0 0 1-.475.129.932.932 0 0 1-.461-.129.921.921 0 0 1-.331-.375l-.634.346.2.317.331.26a1.734 1.734 0 0 0 1.382.173 2.125 2.125 0 0 0 .418-.173l.331-.26zm-9.72 6.293h1.224v-5.083h-1.224zm-4.018 0h1.526a3.089 3.089 0 0 0 .835-.1 1.914 1.914 0 0 0 .691-.317 1.418 1.418 0 0 0 .475-.533 1.574 1.574 0 0 0 .173-.763 1.459 1.459 0 0 0-.173-.735 1.409 1.409 0 0 0-.461-.46 1.864 1.864 0 0 0-.691-.245 3.813 3.813 0 0 0-.835-.086h-.317v-1.843H74.02zM12.388 40.93a3.137 3.137 0 0 1 .562-.95 2.764 2.764 0 0 1 .85-.662 2.5 2.5 0 0 1 1.094-.245 2.8 2.8 0 0 1 1.166.259 2.407 2.407 0 0 1 .893.691l2.232-2.592a4.913 4.913 0 0 0-.835-.648 5.576 5.576 0 0 0-1.066-.49 7.641 7.641 0 0 0-1.2-.317 7.346 7.346 0 0 0-1.253-.115 7.571 7.571 0 0 0-2.578.432 6.186 6.186 0 0 0-2.088 1.239 5.712 5.712 0 0 0-1.4 1.973 6.739 6.739 0 0 0 0 5.184 5.655 5.655 0 0 0 1.4 1.958 5.957 5.957 0 0 0 2.088 1.238 8.076 8.076 0 0 0 5.04.029 5.035 5.035 0 0 0 1.886-1.109l-2.146-2.606a2.145 2.145 0 0 1-.922.648 3.332 3.332 0 0 1-1.166.216 2.548 2.548 0 0 1-2.016-.878 2.866 2.866 0 0 1-.562-.95 3.785 3.785 0 0 1-.187-1.152 3.4 3.4 0 0 1 .209-1.152zm20.967-4.694h-3.859l-5.155 6.725v-6.725h-3.859v11.693h3.859l5.155-6.754v6.754h3.86zm11.88 0H34.856v2.981h3.254v8.712h3.859v-8.712h3.269zm.461 21.816a2.638 2.638 0 0 0-.821.432 2.277 2.277 0 0 0-.6.677 2.563 2.563 0 0 0-.317.878h-.806v-2h-1.238v5.083h1.238v-2.045h.806a2.484 2.484 0 0 0 .922 1.584 2.734 2.734 0 0 0 .835.447 3.217 3.217 0 0 0 2.117-.043 2.6 2.6 0 0 0 .878-.547 2.509 2.509 0 0 0 .59-.85 2.811 2.811 0 0 0 .2-1.109 2.765 2.765 0 0 0-.2-1.109 2.449 2.449 0 0 0-.59-.835 2.565 2.565 0 0 0-.878-.533 3.531 3.531 0 0 0-1.123-.187 3.283 3.283 0 0 0-1.013.157zm13.925-21.816h-3.859l-5.155 6.725v-6.725h-3.859v11.693h3.859l5.155-6.754v6.754h3.859zm-.288 21.8l-1.282 1.9-.374-.029v-1.872h-1.221v1.872l-.374.029-1.282-1.9h-1.354l1.469 2.3a2.787 2.787 0 0 0-.936 1.051 4.7 4.7 0 0 0-.518 1.728h1.354a3.769 3.769 0 0 1 .173-.777 2.558 2.558 0 0 1 .331-.691 1.772 1.772 0 0 1 .475-.5 1.128 1.128 0 0 1 .662-.2v2.175h1.224v-2.175a1.129 1.129 0 0 1 .662.2 1.76 1.76 0 0 1 .49.49 2.852 2.852 0 0 1 .317.706 3.769 3.769 0 0 1 .173.777h1.354a5.029 5.029 0 0 0-.5-1.7 2.905 2.905 0 0 0-.95-1.08l1.469-2.3zm6.768 0h-1.238v5.083h1.238v-2.131h2v2.131h1.238v-5.083h-1.238v1.929h-2zm10.2-21.8l-2.218 3.125-2.189-3.125h-4.493l4.234 5.573-4.68 6.12h4.464l2.592-3.586 2.52 3.586h4.55l-4.637-6.12 4.219-5.573zm17.194 3.211a5.832 5.832 0 0 0-1.411-1.944 6.53 6.53 0 0 0-2.074-1.224 7.767 7.767 0 0 0-5.026 0 6.088 6.088 0 0 0-2.074 1.224 5.832 5.832 0 0 0-1.411 1.944 6.74 6.74 0 0 0 0 5.184 5.8 5.8 0 0 0 1.411 1.973 5.925 5.925 0 0 0 2.074 1.253 7.3 7.3 0 0 0 5.026 0 6.344 6.344 0 0 0 2.074-1.253 5.8 5.8 0 0 0 1.411-1.973 6.74 6.74 0 0 0 0-5.184zm9.922-3.211h-4.608l-4.553 11.693h4.176l2.65-7.114 2.477 7.114h4.176zm14.285 0h-4.622l-4.536 11.693h4.162l2.664-7.114 2.462 7.114h4.176zm-28.123 7.877a2.554 2.554 0 0 1-.864.691 2.92 2.92 0 0 1-2.4 0 2.756 2.756 0 0 1-.878-.691 2.978 2.978 0 0 1-.518-.965 3.378 3.378 0 0 1 0-2.218 2.773 2.773 0 0 1 .518-.95 2.461 2.461 0 0 1 .85-.662 2.918 2.918 0 0 1 2.4 0 2.886 2.886 0 0 1 .878.662 3.068 3.068 0 0 1 .533.95 3.262 3.262 0 0 1 .187 1.109 3.639 3.639 0 0 1-.173 1.109 2.762 2.762 0 0 1-.538.965zm-41.4 16.445a1.773 1.773 0 0 1-.1.634 1.349 1.349 0 0 1-.763.821 1.422 1.422 0 0 1-.6.13 1.358 1.358 0 0 1-.59-.13 1.349 1.349 0 0 1-.763-.821 1.773 1.773 0 0 1-.1-.634 1.745 1.745 0 0 1 .1-.619 1.4 1.4 0 0 1 .3-.49 1.505 1.505 0 0 1 .461-.331 1.6 1.6 0 0 1 .59-.115 1.678 1.678 0 0 1 .6.115 1.505 1.505 0 0 1 .461.331 1.4 1.4 0 0 1 .3.49 1.745 1.745 0 0 1 .098.623zm27.879.4l.245.129.13.173.043.216a.6.6 0 0 1-.173.447.987.987 0 0 1-.634.158h-.418v-1.166h.418a1.439 1.439 0 0 1 .387.047z')
			path(fill='none', stroke='red', stroke-width='3' data-name='Path 119', d='M65.401 1.575s6.528-.648 18.887 4.192 29.868 11.281 29.868 11.281 9.5 3.15 13.082 8.989a15.979 15.979 0 0 1 2.076 5.424c.658 3.281-.13 5.944.011 27.214a13.751 13.751 0 0 1-3.159 9.365c-3.611 4.147-9.45 6.4-9.45 6.4L83.739 86.824s-9.365 4.2-17.094 4.118-15.628-2.454-21.242-4.683-29.251-10.968-29.251-10.968-6.895-2.347-10.929-6.637-3.631-9.278-3.631-13.569V35.278s-.6-6.5 2.655-10.163 6.344-5.855 13.876-8.62S48.539 5.149 48.539 5.149a44.23 44.23 0 0 1 16.862-3.574z')
			path(elem="border" fill='none', stroke='#fff', stroke-width='3' data-name='Path 119', d='M65.401 1.575s6.528-.648 18.887 4.192 29.868 11.281 29.868 11.281 9.5 3.15 13.082 8.989a15.979 15.979 0 0 1 2.076 5.424c.658 3.281-.13 5.944.011 27.214a13.751 13.751 0 0 1-3.159 9.365c-3.611 4.147-9.45 6.4-9.45 6.4L83.739 86.824s-9.365 4.2-17.094 4.118-15.628-2.454-21.242-4.683-29.251-10.968-29.251-10.968-6.895-2.347-10.929-6.637-3.631-9.278-3.631-13.569V35.278s-.6-6.5 2.655-10.163 6.344-5.855 13.876-8.62S48.539 5.149 48.539 5.149a44.23 44.23 0 0 1 16.862-3.574z')

		//- | Загрузка ...