mixin svg(id)
	svg(role="img")&attributes(attributes)
		use(xlink:href='#si-'+id)
include ../components/_checkbox

div(block="popup")
	.arcticmodal-close(elem="close")
		i.fa.fa-times

	block modal-content
