extends _layout-modal
block modal-content
	.h1.title-underline.title-underline--center.title-no-offset Оставить заявку

	form(action="")
		input.input-style(elem="input" type="text" name="login" placeholder="Ваше имя *" required="")
		input.input-style(elem="input" type="text" name="tel" placeholder="Номер телефона *" required="")

		div(elem="conditions")
			+checkbox({
				labelText: 'Согласие на обработку персональных данных'
			})(checked="")

		div(elem="btn-wrap")
			button.btn.btn--red(elem="btn") Отправить