extends _layout-modal
block modal-content
	.h1.title-underline.title-underline--center.title-no-offset Написать нам

	form(action="")
		input.input-style(elem="input" type="text" name="login" placeholder="Ваше имя *" required="")
		input.input-style.error(elem="input" type="email" name="email" placeholder="Электронная почта *" required="")
		textarea.input-style(elem="textarea" name="text" placeholder="Текст сообщения *")

		div(elem="conditions")
			+checkbox({
				labelText: 'Согласие на обработку персональных данных'
			})(checked="")

		div(elem="btn-wrap")
			button.btn.btn--red(elem="btn") Отправить