.advantages{
	padding: 65px 0 58px;
	background: $color-dimmed;
	color: $color-text;
	&--bg-dark{
		background: $color-bg-l;
		color: #fff;
	}
	&__row{
		margin-top: -30px;
	}
	&__col{
		margin-top: 30px;
	}
	&__item{
		display: flex;
		align-items: center;
		max-width: 280px;
		margin: 0 auto;
		@include media-breakpoint-up(md) {
			display: block;
			text-align: center;
			max-width: none;
		}
		&-img{
			height: 38px;
			transition: all 0.2s;
			margin-right: 25px;
			width: 60px;
			text-align: center;
			@include media-breakpoint-up(md) {
				display: flex;
				justify-content: center;
				margin-right: 0;
				width: auto;
			}
			&--big{
				height: 57px;
			}
			.advantages__item:hover &{
				transform: translateY(-20%);
			}
			img{
				display: inline-block;
				align-self: flex-end;
			}
		}
		&-text{
			font-weight: 500;
			p{
				@include media-breakpoint-up(md) {
					margin-top: 6px;
				}
			}
		}
	}
	&__text-lg{
		font-weight: 500;
		font-size: 30px;
		@include media-breakpoint-up(md) {
			font-size: 35px;
		}
	}
	&__text-md{
		font-size: 24px;
		font-weight: 500;
	}
}