.slick{
	&-dots{
		li{
			list-style: none;
			button{
				padding: 6px;
				background: none;
				border: none;
				font-size: 0;
				cursor: pointer;
				&:before{
					content: '';
					display: block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: #fff;
					transition: all 0.2s;
				}
			}
		}
		.slick-active{
			button{
				&:before{
					background: $red;
				}
			}
		}
	}
}

.slick-arrows-square {
	.slick{
		&-arrow{
			@extend %link-clicker;
			font-size: 0;
			background: none;
			border: 3px solid;
			height: 48px;
			width: 48px;
			color: #fff;
			cursor: pointer;
			transition: color 0.2s;
			&:before{
				font-size: 18px;
				@extend .fa;
			}
			&:hover{
				color: $red;
			}
		}
		&-next{
			@extend .fa-long-arrow-right;
		}
		&-prev{
			@extend .fa-long-arrow-left;
		}
	}
}
.map-info{
	color: $color-text;
}