.about-img {
	position: relative;
	&--offset{
		margin-bottom: 40px;
		@include media-breakpoint-up(md) {
			margin: -55px 0 10px 0;
		}
		@include media-breakpoint-up(lg) {
			margin: -55px 40px 0 0;
		}
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 40px;
		bottom: 40px;
		right: 0; left: 0; margin: auto;
		border: 3px solid #fff;
		width: cp(310, 530);
		@include media-breakpoint-up(md) {
			// height: 295px;
			top: 0; bottom: 0;
			top: 70px;
			bottom: 70px;
		}
	}
	&__item{
		&:before{
			padding-bottom: cp(274, 254);
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; width: 100%; height: 100%;
			background: rgba(#27233A, .22);
		}
		&--2{
			margin-top: 90px;
			@include media-breakpoint-up(md) {
				margin-top: 175px;
			}
		}
	}
}