.top-block{

	&__slider{
		.slick-track {
			z-index: auto;
		}
	}
	&__slide{
		position: relative;
	}

	&__slide-img{
		&:before{
			padding-bottom: cp(1080, 1920);
			@include media-breakpoint-up(xl) {
				padding-bottom: 663px;
			}
		}
	}

	&__img-filler{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-origin: center;
		background-size: cover;
		background-repeat: no-repeat;
		transform: scale(1.05);

		filter: blur(20px);

		.no-object-fit &{
			opacity: 0.3;
		}
	}

	&__location{
		font-size: 14px;
		@include media-breakpoint-up(sm) {
			font-size: inherit;
		}
		>i{
			color: $red;
			font-size: 18px;
			margin-right: 0.5em;
		}
	}
	&__soc{
		margin-right: -5px;
	}

	.slick{
		&-dots{
			display: flex;
			position: absolute;
			top: 100%;
			margin-top: 13px;
			left: 50%;
			transform: translateX(-50%);

			padding: 0 5px;

			@include media-breakpoint-up(md) {
				top: 0;
				margin-top: 0;
				background-color: rgba(#000, 0.6);
			}

			li{
				button{
					&:before{
						width: 10px;
						height: 10px;
					}
				}
			}
		}
		&-arrow{
			position: absolute;
			z-index: 1;
			top: 100%;

			border: none;

			@include media-breakpoint-up(md) {
				top: 50%;
				margin-top: -24px;
				background-color: rgba(#000, 0.6);
			}
		}

		&-prev{
			left: 7px;
			@include media-breakpoint-up(md) {
				left: 0;
			}
		}
		&-next{
			right: 7px;
			@include media-breakpoint-up(md) {
				right: 0;
			}
		}
	}
}

.slick-paging{
	&__current,
	&__all{
		display: inline-block;
		font-weight: 500;
	}
	&__current{
		vertical-align: super;
		font-size: 26px;
		@include media-breakpoint-up(md) {
			font-size: 30px;
		}
	}
	&__all{
		vertical-align: sub;
		font-size: 21px;
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
	}

	&__arrows{
		display: inline-block;
		vertical-align: sub;
		margin-left: 10px;
	}
}

.events{
	background: #2A2A2A;
	color: #fff;
	&__list{
		margin-top: -$gw;
	}
	&__header,
	&__item{
		list-style: none;
		margin-top: $gw;
	}

	&__header{}
	&__item{}
}

.event {
	display: block;
	position: relative;
	background-size: cover;
	overflow: hidden;
	height: 160px;
	@include media-breakpoint-up(md) {
		height: 305px;
		padding: 27px;
	}
	@include media-breakpoint-up(xl) {
		height: 360px;
		padding: 32px;
	}

	&:before{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#25242A, 0.5);
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border: 3px solid #fff;
		opacity: 0;
		transform: scale(1.2);
		transition: all 0.2s;
		@include media-breakpoint-up(md) {
			top: 25px;
			left: 25px;
			right: 25px;
			bottom: 25px;
		}
		@include media-breakpoint-up(xl) {
			top: 30px;
			left: 30px;
			right: 30px;
			bottom: 30px;
		}
	}
	&:hover{
		text-decoration: none;
		color: inherit;
		&:after{
			opacity: 1;
			transform: scale(1);
		}
	}
	&--no-img{
		background: $red;
		&:before{
			display: none;
		}
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 1s;
		.event:hover &{
			transform: scale(1.1);
		}
	}
	&__inner{
		position: relative;
		z-index: 1;
		height: 100%;
	}
	&__content{
		width: 100%;
		padding: 0 30px;
		text-align: center;
	}
	&__title{
		font-size: 24px;
		text-transform: uppercase;
		font-family: $font-2;
	}
	&__text{
		margin-top: 10px;
		line-height: (22/15);
	}
}

.project{
	background: $color-bg;
	&__img{
		position: relative;
		padding: 0 0 26px 28px;
		margin-bottom: 20px;
		font-size: 0;
		@include media-breakpoint-up(md) {
			padding: 0 0 0 140px;
		}
		@include media-breakpoint-up(xl) {
			padding: 0 40px 0 114px;
			margin-bottom: 0;
		}
		&:before{
			content: '';
			position: absolute;
			display: block;
			top: 15px;
			left: 0;
			width: 60%;
			bottom: 0;
			border: 3px solid #fff;
			max-width: 250px;
			@include media-breakpoint-up(md) {
				left: 0;
				top: 20%;
				bottom: 20%;
				width: 50%;
			}
			@include media-breakpoint-up(xl) {
				width: 150px;
			}
		}
	}
	&__img-wrap{
		display: inline-block;
		overflow: hidden;
		position: relative;
		@include media-breakpoint-up(md) {
			width: 100%;
		}
		@include media-breakpoint-up(xl) {
			width: auto;
		}
		img{
			position: relative;
			max-width: 100%;
			transition: all 1s;
			@include media-breakpoint-up(md) {
				width: 100%;
				max-height: 420px;
			}
			@include media-breakpoint-up(xl) {
				width: auto;
			}
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#27233A, 0.22);
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
	&__text{}
	&__title{
		margin-top: 0;
	}
}

.partners{
	background: $color-dimmed;
	color: $color-text;
	&__title{
		margin-top: 0;
	}
	&__slider{
		padding-top: 20px;
	}
	&__slide{
		height: 120px;
		padding: 0 10px;
		img{
			max-width: 100%;
			display: block;
			max-height: 120px;
			@include grayscale_element(100%);
			transition: all 0.2s;
			&:hover{
				@include grayscale_element(0);
			}
		}
	}
	.slick-list{
		margin: 0 -10px;
	}
}
