.price-banner {
	background-size: cover;
	position: relative;
	margin-top: -$header-height-xs;
	padding-top: $section-padding + $header-height-xs;

	@include media-breakpoint-up(xl) {
		margin-top: -$header-height-xl;
		padding-top: $section-padding-xl + $header-height-xl;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#25242A, .65);
	}
}

.prices {
	&__list{}
}

.b-price{
	list-style: none;
	&+&{
		margin-top: 30px;
	}
	&__header{
		cursor: pointer;
	}
	&__icon{
		width: 40px;
	}
	&__title{
		font-size: 20px;
		font-family: $font-2;
		text-transform: uppercase;
		transition: all 0.2s;
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
		.b-price__header:hover &{
			color: $red;
		}
	}
	&__trigger{
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		left: 11px;
		&:hover{
			text-decoration: none;
		}
		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 18px;
			height: 2px;
			top: 0; bottom: 0; left: 0; right: 0;
			margin: auto;
			background: #fff;
			transition: all 0.2s;
			.b-price__header:hover &{
				background: $red;
			}
		}
		&:after{
			transform: rotate(90deg);
		}
		.b-price__header.active &{
			&:after{
				transform: rotate(0);
			}
		}
	}

	&__body{
		margin: 20px (-$gw) 0;
		@include media-breakpoint-up(md) {
			margin: 20px 0 0;
		}
		@include media-breakpoint-up(xl) {
			display: flex;
		}
	}
	&__tabs{
		position: relative;
		@include media-breakpoint-up(xl) {
			width: 65%;
		}
	}
}

.tab-price {
	list-style: none;
	&__header{
		position: relative;
		color: #fff;
		padding: 20px $gw;
		cursor: pointer;
		background: $color-bg-l;
		transition: all 0.2s;
		@include media-breakpoint-up(sm) {
			display: flex;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			left: $gw;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 12px 0 12px;
			border-color: $red transparent transparent transparent;

			opacity: 0;
			transition: all 0.2s;
			@include media-breakpoint-up(md) {
				border-width: 19px 19px 0 19px;
			}
			@include media-breakpoint-up(xl) {
				top: 50%;
				left: 100%;
				margin-top: -12px;
				border-width: 12px 0 12px 12px;
				border-color: transparent transparent transparent $red;
			}
		}
		&:hover{
			background: lighten($color-bg-l, 2%);
		}
		.tab-price:nth-child(odd) & {
			background: $color-bg;
			&:hover{
				background: darken($color-bg, 2%);
			}
		}
		.tab-price.active &{
			@include media-breakpoint-up(xl) {
				background: $red;
			}
			&:after{
				@include media-breakpoint-up(xl) {
					opacity: 1;
				}
			}
			&:hover{
				@include media-breakpoint-up(xl) {
					background: $red;
				}
			}
		}
		&.active {
			.tab-price &{
				background: $red;
				&:after{
					opacity: 1;
				}
				&:hover{
					background: $red;
				}
			}
		}
	}
	&__title{
		max-width: 100%;
		@include media-breakpoint-up(sm) {
			flex-grow: 1;
			flex-basis: 0;
		}
	}
	&__value{
		text-align: right;
		margin-top: 10px;
		@include media-breakpoint-up(sm) {
			flex: 0 0 auto;
			margin-top: 0;
		}
	}
	&__content{
		display: none;

		background: $color-dimmed;
		color: $color-text;
		padding: 40px $gw;
		@include media-breakpoint-up(md) {
			text-align: center;
			padding: 40px;
		}
		@include media-breakpoint-up(xl) {
			width: 35%;
		}
		&.active{
			display: block;
		}
		&-title{
			text-align: center;
			font-weight: 500;
			margin-bottom: 0.7em;
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 24px;
			}
		}
		&-text{
			margin-bottom: 1em;
		}
		a{
			color: $red;
			font-weight: 700;
			>i{
				color: $color-text;
				margin-right: 0.5em;
				font-size: 16px;
			}
		}
	}
}