.rules{
	margin-top: 50px;
	>li{
		list-style: none;
		margin-bottom: 25px;
	}
}

.r-category{
	&__header{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		min-height: 55px;

		cursor: pointer;
		user-select: none;
		@include media-breakpoint-up(md) {
			align-items: center;
		}
	}
	&__icon{
		flex-shrink: 0;
		display: block;
		fill: #fff;
		width: 1em;
		height: 1em;
		font-size: 30px;
		@include media-breakpoint-up(md) {
			font-size: 38px;
		}
	}
	&__title{
		flex-grow: 1;
		padding-left: 17px;
		font-size: 20px;
		text-transform: uppercase;
		font-family: $font-2;
		transition: all 0.2s;
		@include media-breakpoint-up(md) {
			font-size: 24px;
			padding: 0 17px;
		}
		.r-category__header:hover &{
			color: $red;
		}
	}
	&__trigger{
		flex-shrink: 0;
		display: block;
		position: relative;
		width: 40px;
		height: 40px;
		left: 11px;
		&:hover{
			text-decoration: none;
		}
		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 18px;
			height: 2px;
			top: 0; bottom: 0; left: 0; right: 0;
			margin: auto;
			background: #fff;
			transition: all 0.2s;
			.r-category__header:hover &{
				background: $red;
			}
		}
		&:after{
			transform: rotate(90deg);
		}
		.r-category__header.active &{
			&:after{
				transform: rotate(0);
			}
		}
	}
	&__list{
		padding-top: 25px;
		margin-left: -$gw;
		margin-right: -$gw;
		@include media-breakpoint-up(md) {
			margin: 0;
		}
		>li{
			list-style: none;
		}
	}
}

.rule-item{
	transition: all 0.2s;
	&:hover{
		background: $red;
	}
	&:nth-child(odd) {
		background: $color-bg;
		&:hover{
			background: $red;
		}
	}
	&__link{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: 15px $gw;
		color: #fff;
		min-height: 90px;
		@include media-breakpoint-up(md) {
			height: 62px;
			min-height: 0;
			padding: 0 $gw;
		}
		&:hover{
			text-decoration: none;
			color: #fff;
		}
	}
	&__title{
		flex-grow: 1;
		padding-right: 20px;
	}
	&__info{
		flex-shrink: 0;
		color: #888;
		transition: color 0.2s;
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
		}
		.rule-item__link:hover &{
			color: inherit;
		}
	}
	&__format{
		margin-bottom: 10px;
		@include media-breakpoint-up(md) {
			width: 135px;
			margin-bottom: 0;
		}
		i{
			display: inline-block;
			vertical-align: middle;
			font-size: 20px;
			margin-right: 20px;
			@include media-breakpoint-up(md) {
				font-size: 24px;
				margin-right: 1em;
			}
		}
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__download{
		i{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
}