.spaces{
	&__title{
		margin-top: 0;
	}
}

.b-space{
	@extend %clearfix;
	position: relative;
	@include media-breakpoint-up(lg) {
		padding: 40px 0;
	}
	&+&{
		margin-top: 35px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 80px;
		}
	}
	&__content{
		position: relative;
		z-index: 1;
		padding: 35px 20px;
		@include media-breakpoint-up(md) {
			width: 530px;
			padding: 40px 50px 40px;
		}
		.b-space--text-left &{
			background: $color-dimmed;
			color: $color-text;
		}
		.b-space--text-right &{
			background: $color-bg;
			@include media-breakpoint-up(lg) {
				float: right;
			}
		}
	}
	&__title{
		position: relative;
		font-size: 24px;
		font-family: $font-2;
		text-transform: uppercase;
		margin-bottom: 0.7em;
		&:before{
			content: '';
			position: absolute;
			right: 100%;
			width: 70px;
			height: 3px;
			background: $red;
			top: 0.7em;
			margin-right: 10px;
			@include media-breakpoint-up(md) {
				margin-right: 15px;
			}
		}
	}
	&__icon{
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 0.4em;
		.b-space--text-right &{
			fill: #fff;
		}
	}
	&__more{
		margin-top: 1.5em;
		.b-space--text-left &{
			a{
				>i{
					color: $color-text;
				}
			}
		}
	}
	&__img{
		position: relative;
		height: 340px;
		margin: -100px (-$gw) 0;
		@include media-breakpoint-up(md) {
			margin: -80px 0 0;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 0;
			height: 100%;
			margin: 0;
			width: cp(780, 1170);
		}
		img{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}
		&:before{
			@include media-breakpoint-up(md) {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 150px;
				border: 3px solid #fff;
			}
			@include media-breakpoint-up(lg) {
				right: -40px;
				bottom: -40px;
				top: 40px;
				width: cp(311, 775);
				height: auto;
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#27233A, 0.22);
		}
		.b-space--text-left &{
			@include media-breakpoint-up(lg) {
				right: 40px;
			}
		}
		.b-space--text-right &{
			left: 0;
			&:before{
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
	}
}