- var href = 'javascript:void(0)';
- var img = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
- var wrapClass = null;
- var activeNavItem = 1;
block vars
include components/_all
doctype html
html.no-js.not-loaded
	head
		meta(charset='utf-8')
		block title
			title CityHall
		meta(name='description' content='')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="theme-color" content="#373737")
		style.
			html { background-color: #212121; }
			body::-webkit-scrollbar { width: 1em; }
			body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background: #3b3b3b; }
			body::-webkit-scrollbar-thumb { background-color: #2e2e2e; outline: 1px solid #3b3b3b; }
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		//- styles
		link(rel='stylesheet', href='plugins/arcticmodal/jquery.arcticmodal-0.3.css')
		link(rel='stylesheet', href='plugins/aos/aos.css')
		link(rel='stylesheet', href='plugins/slick/slick.css')
		link(rel='stylesheet', href='styles/style.css')
		block style
		block h-script
	body
		include components/_preloader
		// [if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
			<![endif]
		.wrap-site(class=wrapClass)
			block header
				+header
			main.main
				block content
			block footer
				+footer

		.visuallyhidden
			div#popupImage(block="popup" mod="img, loading")
				div.arcticmodal-close(elem="close")
					i.fa.fa-times
				div(elem="img-wrap")
					img(alt="")

					button(elem="btn-prev") <
					button(elem="btn-next") >

				div(elem="img-caption")


		script(src="scripts/icons.js" data-svg-path="images/svg/sprite.symbol.svg")
		script(src="plugins/modernizr-custom.js")
		script(src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script.
			window.jQuery || document.write('<script src="plugins/jquery-2.2.4.min.js"><\/script>')
		//- script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
		script(src="plugins/delete-me.js")
		script(src="plugins/aos/aos.js")
		script(src="plugins/slick/slick.js")
		script(src="plugins/arcticmodal/jquery.arcticmodal-0.3.min.js")
		script(src="plugins/masonry.pkgd.min.js")
		script(src="plugins/headroom.min.js")
		script(src="plugins/jquery.dotdotdot.min.js")
		script(src="plugins/phone-mask.js")
		script(src="scripts/main.js")
		block f-script