extends _layout
block content
	section.section
		.wrap
			.row.justify-content-end
				.col.col-md-auto.col-lg-6
					+breadcrumbs(['Главная'], 'Об отеле')
			.row
				.col-lg-6
					div(block="about-img" mod="offset" data-aos="fade" data-aos-duration="400")
						.row
							.col(data-aos="zoom-out" data-aos-offset="0" data-aos-duration="600" data-aos-delay="0")
								.responsive-img(elem="item" mod="1")
									img(src="images/media/event-1.jpg", alt="" data-object-fit="cover")
							.col(data-object-fit="cover" data-aos="zoom-out" data-aos-offset="0" data-aos-duration="600" data-aos-delay="200")
								.responsive-img(elem="item" mod="2")
									img(src="images/media/event-2.jpg", alt="")
				.col-lg-6
					.content(data-aos="fade" data-aos-duration="1000" data-aos-delay="400")
						h1.h1.title-underline.title-no-offset Об отеле

						p Отель в Волгограде «Южный» прекрасно расположен в деловом центре Волгограда и одновременно в историческом районе. Это уникальное сочетание истории города и современного здания отеля отражено и в дизайне интерьера.

						p В шаговой доступности от отеля расположены: красивый парк, Ворошиловский торговый центр, торговая галерея, кинотеатры «Киномакс» и «Пять звезд». 190 номеров, оформленных со вкусом и любовью дали все основания трехзвездочному отелю претендовать на статус популярного городского отеля среди гостей Волгограда.

						p
							a(href=href) Узнайте больше
								i.fa.fa-long-arrow-right

	section.section(block="gallery" mod="bg-light")
		.wrap
			h2.h1.title-underline.title-underline--center(elem="title") Галерея

			ul(elem="tabs")
				li(elem="tab")
					a(elem="tab-link" href=href) Отель

				li.active(elem="tab")
					a(elem="tab-link" href=href) Интерьер и номера

				li(elem="tab")
					a(elem="tab-link" href=href) События

				li(elem="tab")
					a(elem="tab-link" href=href) Наша команда

			div(elem="wrap")
				ul.js-grid(elem="list")
					li.grid-sizer(elem="sizer")
					mixin gallery-item(obj)
						li.grid-item(elem="item" mod=obj.mod)
							a(block="item-gallery" href="images/media/"+obj.img data-aos="fade" data-aos-duration="500" data-aos-offset="100" data-popup-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit." data-popup-gallery="gallery1")
								div.responsive-img(elem="img-wrap")
									img(elem="img" src="images/media/"+obj.img, alt="" data-object-fit="cover")
								div.dot(elem="caption") Lorem ipsum dolor sit amet, consectetur adipisicing elit.

					+gallery-item({
						mod: '1x1',
						img: 'gallery-item-1.jpg'
					})

					+gallery-item({
						mod: '1x2',
						img: 'gallery-item-2.jpg'
					})

					+gallery-item({
						mod: '1x1',
						img: 'gallery-item-3.jpg'
					})

					+gallery-item({
						mod: '1x2',
						img: 'gallery-item-4.jpg'
					})

					+gallery-item({
						mod: '1x2',
						img: 'gallery-item-6.jpg'
					})
					+gallery-item({
						mod: '1x1',
						img: 'gallery-item-5.jpg'
					})

			.text-center
				button.btn.btn--red(elem="more" type="button") Еще фото