extends _layout
block vars
	-var activeNavItem = 5;
block content
	section.section
		.wrap
			.row
				.col-lg-6
					div(block="contacts" mod="pos-contacts")
						+breadcrumbs(['Главная'], 'Контакты')(mod="pos-contacts")
						div.d-flex.flex-column.align-items-md-end(elem="inner")
							h2.h1.title-underline(elem="title" mod="pb-big")
								| Мы ближе,
								br
								| чем вы думаете
							div.content(elem="text")
								p
									| Рабоче-Крестьянская, 18
									br
									| г. Волгоград, Волгоградская обл. 400074
								p Время работы: 8.00 - 19.00
								p 8 (8442) 90-11-11 / 8 800 347 56 56
								.row.align-items-center(elem="footer")
									.col-12.col-md
										a(href="mailto:cityhall@gmail.com") cityhall@gmail.com
									.col-12.col-md
										div.text-md-right(block="b-soc")
											div(elem="inner")
												a(elem="item" href=href)
													i.fa.fa-vk
												a(elem="item" href=href)
													i.fa.fa-instagram
												a(elem="item" href=href)
													i.fa.fa-youtube-play
						div(elem="btn-place" data-aos="fade" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="300")
							a.ajax-popup.btn.btn--red(elem="btn" href="ajax/popup-feedback.html" ) Написать нам
				.col-lg-6
					div(block="map")

						div(block="map-route")
							.row.align-items-center
								.col-12.col-md
									div(elem="title") Проложить маршрут
								.col-12.col-md-auto
									div(elem="types")
										a.active(elem="type" href=href)
											+svg('car')
										a(elem="type" href=href)
											+svg('man')
							div(elem="form")
								form(action="")
									div(elem="input-box")
										input(elem="input" type="text" placeholder="Выберите адрес" required="")
										button.btn.btn--red(elem="btn")
											i.fa.fa-angle-right

						div#mapit(elem="layout" data-lat="48.695606" data-lng="44.496271" data-title="Рабоче-Крестьянская 18, Волгоград 400074" data-marker="images/svg/map-point.svg")

	section.section(block="staff")
		.wrap
			h2.h1.title-underline.title-no-offset.title-underline--center Наши сотрудники

			div(block="staff-slider")

				mixin staff-slide(obj)
					div(elem="slide")
						div.responsive-img(elem="img")
							img(src="images/media/staff-"+obj.img+".jpg", alt="" data-object-fit="cover")
							i(elem="corners-left")
							i(elem="corners-right")
						div(elem="info")
							div(elem="name")=obj.name
							p
								span(elem="post")=obj.post
								a(elem="contacts" href=href)
									i.fa.fa-phone
								a(elem="contacts" href=href)
									i.fa.fa-envelope

				+staff-slide({
					img: 1,
					name: 'Денис Петрушин',
					post: 'Арт-директор'
				})
				+staff-slide({
					img: 2,
					name: 'Алина Скоробогатова',
					post: 'PR менеджер'
				})
				+staff-slide({
					img: 3,
					name: 'Роман Камовский',
					post: 'Генеральный директор'
				})
				+staff-slide({
					img: 2,
					name: 'Алина Скоробогатова',
					post: 'PR менеджер'
				})
