extends _layout
block vars
	-var activeNavItem = 0;
block vars
	- var wrapClass = "main-page";

//- block preloader-logo
	.preloader-logo
block content
	section(block="top-block")
		-var slides = ['images/media/top-slider/may.jpg', 'images/media/top-slider/roof.jpg', 'images/media/top-slider/taras.jpg']
		div.slick-arrows-square(elem="slider")
			each item in slides
				div(elem="slide")
					div(elem="img-filler" style="background-image: url(#{item})")
					.responsive-img(elem="slide-img")
						img(data-lazy=item, alt="" data-object-fit="contain")

		div.pt-5.pb-3.py-md-3(elem="footer")
			.wrap
				.row.align-items-center
					.col-sm-auto.mb-3.mb-sm-0.text-center
						div(elem="location")
							i.fa.fa-map-marker
							|  Волгоград, Рабоче-Крестьянская, 18
					.col-12.col-sm-auto.ml-auto.text-center
						each item in slides
							a.btn.btn--red(elem="btn" href=href) Подробнее
					.col-auto.d-none.d-md-block
						div(elem="soc")
							div(block="b-soc")
								div(elem="inner")
									a(elem="item" href=href)
										i.fa.fa-vk
									a(elem="item" href=href)
										i.fa.fa-instagram
									a(elem="item" href=href)
										i.fa.fa-youtube-play

	+advantages
		+adv-item({
			img: '1-1',
			animationDelay: 0
		})
			p
				| от 
				span(elem="text-lg") 800
				|  руб.
			p Аренда конференц-залов
		+adv-item({
			img: '1-2',
			animationDelay: 100
		})
			p
				span(elem="text-lg") 127
			p Офисов с видом на реку
		+adv-item({
			img: '1-3',
			animationDelay: 200
		})
			p
				span(elem="text-lg") 13
			p Переговорных залов
		+adv-item({
			img: '1-4',
			animationDelay: 300
		})
			p
				span(elem="text-lg") 24/7
			p Круглосуточный доступ

	section.section(block="events")
		.wrap
			ul.row(elem="list")
				li.col-md-6.col-xl-4.d-flex.align-items-center(elem="header")
					h2.h1.title-underline.title-no-offset(elem="title") Типы<br>мероприятий

				mixin event(obj)
					li.col-md-6.col-xl-4(elem="item" data-aos="zoom-out" data-aos-offset="100" data-aos-duration="600" data-aos-delay=obj.animationDelay)
						a.js-animated-link(block="event" href="text-page.html" mod=obj.mod)
							if obj.img
								img(elem="img" src="images/media/"+obj.img, alt="" data-object-fit="cover")
							div.d-flex.align-items-center(elem="inner")
								div(elem="content")
									div(elem="title")=obj.title
									if obj.text
										div(elem="text")=obj.text

				+event({
					img: 'event-1.jpg',
					title: 'Мастер-классы',
					animationDelay: 0,
				})

				+event({
					img: 'event-2.jpg',
					title: 'Бизнес встреча',
					animationDelay: 100,
				})

				+event({
					img: 'event-3.jpg',
					title: 'Свадьба',
					animationDelay: 0,
				})

				+event({
					img: 'event-4.jpg',
					title: 'Вечеринка',
					animationDelay: 100,
				})

				+event({
					title: 'Концерт',
					text: 'Мы предлагаем не просто офисы, мы предлагаем пространства для бизнеса',
					animationDelay: 200,
					mod: 'no-img'
				})

	section.section.content(block="project")
		.wrap
			.row
				.col-lg-6
					div(elem="img")
						div(elem="img-wrap")
							img(src="images/media/event-4.jpg", alt="" data-object-fit="cover")
				.col-lg-6
					div(elem="text" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000")
						.h1.title-underline(elem="title") Проект English LOFT
						p Если вы любите изучать английский язык или просто хотите попрактиковаться в разговорной речи, то приглашаем Вас посетить сессию проекта English Loft. В уютной атмосфере мы делимся своими мыслями, жизненным опытом, обмениваемся мнениями и все это исключительно на английском языке.

						p
							a(href=href) Проведи субботний вечер с нами 
								i.fa.fa-long-arrow-right

	section.section(block="partners")
		.wrap
			.row.justify-content-md-center
				.col-lg-8
					h2.h1.title-underline.title-underline--center(elem="title") Наши партнёры

					p.text-center Сити Холл обязана своим успехом также и своим партнерам. Тесное сотрудничество позволяет нам объединить усилия, что, в свою очередь, несет выгоду нашим клиентам.

			div(elem="slider")

				mixin partner-slide(img)
					div.d-flex.justify-content-center.align-items-center(elem="slide")
						img(src=img, alt="")

				-var imgPath = 'images/media/';
				+partner-slide(imgPath+'partner-1.png')
				+partner-slide(imgPath+'partner-2.png')
				+partner-slide(imgPath+'partner-3.png')
				+partner-slide(imgPath+'partner-4.png')
				+partner-slide(imgPath+'partner-5.png')
				+partner-slide(imgPath+'partner-6.png')
				+partner-slide('http://toplogos.ru/images/logo-dodge.png')

	section.section
		.wrap
			.row
				.col-lg-6
					div(block="contacts")
						div.d-flex.flex-column.align-items-md-end(elem="inner")
							h2.h1.title-underline(elem="title")
								| Мы ближе,
								br
								| чем вы думаете
							div.content(elem="text")
								p
									| Рабоче-Крестьянская, 18
									br
									| г. Волгоград, Волгоградская обл. 400074
								p 8 (8442) 90-11-11 / 8 800 347 56 56

								a(href="mailto:cityhall@gmail.com") cityhall@gmail.com
						div(elem="btn-place" data-aos="fade" data-aos-offset="100" data-aos-duration="1000")
							a.ajax-popup.btn.btn--red(elem="btn" href="ajax/popup-feedback.html" ) Написать нам
				.col-lg-6
					div(block="map")
						div#mapit(elem="layout" data-lat="48.695606" data-lng="44.496271" data-title="Рабоче-Крестьянская 18, Волгоград 400074" data-marker="images/svg/map-point.svg")