include components/_header
include components/_footer
extends _layout
block header
	+header
block footer
	+footer
block content
	section.content.section
		.wrap
			h1.title-underline Попапы

			ul
				li
					a.ajax-popup(href="ajax/popup-feedback.html") Написать нам

				li
					a.ajax-popup(href="ajax/popup-request.html") Оставить заявку
