extends _layout
block vars
	-var activeNavItem = 4;
block content
	section.section(block="portfolio")
		.wrap
			.row
				.col.order-2.order-md-1
					h1.title-no-offset.title-underline(elem="title") Портфолио
				.col-md-auto.text-md-right.order-1.order-md-2
					+breadcrumbs(['Главная'], 'Портфолио')(mod="title-offset")
			.content
				p Вы можете составить представление о нас, просмотрев фотографии наших комфортабельных номеров, разнообразных завтраков или популярного среди гостей бара гостиницы. Мы будем рады Вашему визиту!

			div(block="gallery" mod="offset-top")
				ul(elem="tabs")
					li(elem="tab")
						a(elem="tab-link" href=href) Отель
					li.active(elem="tab")
						a(elem="tab-link" href=href) Интерьер и номера
					li(elem="tab")
						a(elem="tab-link" href=href) События
					li(elem="tab")
						a(elem="tab-link" href=href) Номера отеля
					li(elem="tab")
						a(elem="tab-link" href=href) Залы и лофт
					li(elem="tab")
						a(elem="tab-link" href=href) Наша команда

				div(elem="wrap")
					ul.js-grid(elem="list")
						li.grid-sizer(elem="sizer")
						mixin gallery-item(obj)
							li.grid-item(elem="item" mod=obj.mod)
								a(block="item-gallery" href=obj.imgBig data-aos="fade" data-aos-duration="500" title="image" data-aos-offset="100" data-popup-caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit." data-popup-gallery="gallery1")
									div.responsive-img(elem="img-wrap")
										img(elem="img" src=obj.img, alt="" data-object-fit="cover")
									div.dot(elem="caption") Lorem ipsum dolor sit amet, consectetur adipisicing elit.

						+gallery-item({
							mod: '1x1',
							img: 'https://unsplash.it/380/380?image=1',
							imgBig: 'https://unsplash.it/760/760?image=1'
						})

						+gallery-item({
							mod: '1x2',
							img: 'https://unsplash.it/380/520?image=2',
							imgBig: 'https://unsplash.it/760/1040?image=2'
						})

						+gallery-item({
							mod: '1x1',
							img: 'https://unsplash.it/380/380?image=3',
							imgBig: 'https://unsplash.it/760/760?image=3'
						})

						+gallery-item({
							mod: '1x2',
							img: 'https://unsplash.it/380/520?image=4',
							imgBig: 'https://unsplash.it/760/1040?image=4'
						})

						+gallery-item({
							mod: '1x2',
							img: 'https://unsplash.it/380/520?image=5',
							imgBig: 'https://unsplash.it/760/1040?image=5'
						})
						+gallery-item({
							mod: '1x1',
							img: 'https://unsplash.it/380/380?image=6',
							imgBig: 'https://unsplash.it/760/760?image=6'
						})

				.text-center
					button.btn.btn--red(elem="more" type="button") Еще фото
