extends _layout
block vars
	-var activeNavItem = 3;
block content
	section.section(block="price-banner" style="background-image: url(images/media/prices-banner.jpg)")
		.wrap
			.row
				.col.order-2.order-md-1

					h1.title-underline.title-no-offset Цены

					p Стоимость аренды конференц зала в Волгограде зависит от количества участников мероприятия, присутствия специального оператора и аренды различного оборудования для проведения мероприятия.

				.col-md-auto.text-md-right.order-1.order-md-2
					+breadcrumbs(['Главная'], 'Цены')(mod="title-offset")

	section.section(block="prices")
		.wrap
			mixin b-price(title, i)
				div(block="b-price")

					div(elem="header")
						.row.align-items-center
							.col-auto
								if block
									block
							.col
								div(elem="title")=title
							.d-none.d-md-block.col-auto
								span(elem="trigger" href=href)

					div(elem="body")

						ul(elem="tabs")
							mixin price-tab(title, price)
								li(block="tab-price")&attributes(attributes)
									div(elem="header")
										div(elem="title")=title
										div(elem="value")=price+' '
											i.fa.fa-rub
									if block
										block

									mixin price-content(i, num)
										div.content(elem="content")&attributes(attributes)
											div(elem="content-title") Конференц-зал, #{i+' '+num} секция
											if block
												block
											.text-center
												a(elem="content-phone" href=href)
													i.fa.fa-phone
													| 8 (8442) 90-11-11

							+price-tab('Конференц-зал 1 секция (50-80 чел.)' ,'2.300').active
								+price-content(i, 1).active
									p Конференц-зал отеля расположен на 2-м этаже нашего первого корпуса в двух минутах ходьбы от метро Владыкино, и представляет собой помещение в строгом офисном стиле, оборудованное классическими партами и стульями.
							+price-tab('Конференц-зал 2 секции (100-200 чел.)' ,'13.000')
								+price-content(i, 2)
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptate, at autem
							+price-tab('Банкетный зал (100-150 чел.)' ,'22.400')
								+price-content(i, 3)
									p Конференц-зал отеля расположен на 2-м этаже нашего первого корпуса в двух минутах ходьбы от метро Владыкино, и представляет собой помещение в строгом офисном стиле, оборудованное классическими партами и стульями.
							+price-tab('Конгресс-зал (100-200 чел.)' ,'30.000')
								+price-content(i, 4)
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptate, at autem
							+price-tab('Лофт-пространство, 1 офис (10-20 чел.)' ,'15.900')
								+price-content(i, 5)
									p Конференц-зал отеля расположен на 2-м этаже нашего первого корпуса в двух минутах ходьбы от метро Владыкино, и представляет собой помещение в строгом офисном стиле, оборудованное классическими партами и стульями.

			+b-price('Аренда залов', 1)
				img(elem="icon" src="images/svg/price-icon-1.svg" alt="" width="36px" height="38px")

			+b-price('Аренда оборудования', 2)
				img(elem="icon" src="images/svg/price-icon-2.svg" alt="" width="38px" height="31px")

			+b-price('Прием и регистрация гостей', 3)
				img(elem="icon" src="images/svg/price-icon-3.svg" alt="" width="31px" height="38px")

