extends _layout
block vars
	-var activeNavItem = 6;
block content
	section.section
		.wrap
			.row
				.col.order-2.order-md-1
					h1.title-no-offset.title-underline(elem="title") Правила
				.col-md-auto.text-md-right.order-1.order-md-2
					+breadcrumbs(['Главная', 'Об отеле'], 'Правила')(mod="title-offset")

			.content
				p Мы соблюдаем правила и ждем этого от наших посетителей. Давайте относится к друг другу добрее и соблюдать общепринятые нормы а также внутренние правила с которыми мы предлагаем ознакомиться на этой странице. Мы будем рады Вашему визиту!

			ul(block="rules")

				mixin category(icon, title)
					li(block="r-category")
						div(elem="header" title="Скрыть/показать")
							+svg(icon)(elem="icon")
							div(elem="title")=title
							span.d-none.d-md-block(elem="trigger")
						ul(elem="list")
							if block
								block

				+category('teamwork', 'Правила для посетителей')

					mixin rule-item(title, icon, size)
						li(block="rule-item" mod="pos:rules")
							a(elem="link" href="images/media/bob_minion.png" title="Скачать файл" download="")
								div(elem="title")=title
								div(elem="info")
									div(elem="format")
										i.fa(class="fa-"+icon)
										span=size
									div(elem="download")
										i.fa.fa-cloud-download
										span Скачать

					+rule-item('Правила Сити Холл','file-pdf-o', '0,7 Мб')
					+rule-item('Установленные нормативы','file-word-o', '0,9 Мб')
					+rule-item('Правила на праздники','file-image-o', '1,2 Мб')
					+rule-item('Правила на праздники (дополнение)','file-excel-o', '0,5 Мб')

				+category('presentation', 'Правила проведения презентаций')
					+rule-item('Правила Сити Холл','file-pdf-o', '0,7 Мб')
					+rule-item('Установленные нормативы','file-word-o', '0,9 Мб')
					+rule-item('Правила на праздники','file-image-o', '1,2 Мб')
					+rule-item('Правила на праздники (дополнение)','file-excel-o', '0,5 Мб')
				+category('consultant', 'Правила для персонала')
					+rule-item('Правила Сити Холл','file-pdf-o', '0,7 Мб')
					+rule-item('Установленные нормативы','file-word-o', '0,9 Мб')
					+rule-item('Правила на праздники','file-image-o', '1,2 Мб')
					+rule-item('Правила на праздники (дополнение)','file-excel-o', '0,5 Мб')