extends _layout
block vars
	-var activeNavItem = 2;
block content
	section.section(block="spaces")
		.wrap
			.row
				.col.order-2.order-md-1
					h1.title-underline(elem="title") Пространства
				.col-md-auto.text-md-right.order-1.order-md-2
					+breadcrumbs(['Главная'], 'Пространства')(mod="title-offset")


			mixin space(img)
				article(block="b-space" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="500")&attributes(attributes)
					div.content(elem="content")
						div(elem="title") Конгресс-зал
						div(elem="text")
							p Многофункциональный Конгресс-зал площадью 1350 кв.м и вместимостью 1500 человек

							div
								+svg('crop')(elem="icon")
								| Площадь: 420 м2
							div
								i.fa.fa-user(elem="icon")
								| Кол-во посадочных мест: 230 - 300 чел.

							div(elem="more")
								a.js-animated-link(href="spaces-detail.html") Подробнее
									i.fa.fa-long-arrow-right


					div(elem="img")
						img(src="images/media/space-"+img+".jpg", alt="" data-object-fit="cover")

			+space(1)(mod="text-left")
			+space(2)(mod="text-right")
			+space(3)(mod="text-left")
			+space(4)(mod="text-right")