extends _layout
block vars
	-var activeNavItem = 2;
block content
	section.section
		.wrap
			+breadcrumbs(['Главная', 'Пространства'], 'Конгресс-зал')(mod="pos-spaces")

			div(block="hall")
				div(elem="slider")

					mixin hall-item(img)
						div(elem="item")
							div(elem="img")
								a(elem="img-wrap" href="images/media/event-"+img+".jpg" data-popup-caption=img data-popup-gallery="gallery1")
									img(src="images/media/event-"+img+".jpg", alt="" data-object-fit="cover")
							div(elem="content")
								h2.h1.title-underline(elem="title") Конгресс-зал
								if block
									block
								div(elem="tags")
									span(elem="tag")
										i.fa.fa-tag
										| Концерт
									span(elem="tag")
										i.fa.fa-tag
										| Конференция
									span(elem="tag")
										i.fa.fa-tag
										| Семинар

					+hall-item(1)
						p Зал для конференций Сапфир расположен на 8 этаже отеля Южный. Зал идеально подойдет, чтобы провести семинар, корпоративный тренинг, презентацию или небольшую конференцию на 50 человек. Общая площадь 70 квадратных метров. Стулья, мультимедийное оборудование (проектор и экран), плазменный телевизор и акустическое оборудование,  доступ к интернету — конференц-зал располагает всем необходимым для организации вашего мероприятия. Зал удобен тем, что вашим иногородним участникам, проживающим в отеле, не придется покидать гостиницу.
					+hall-item(2)
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit accusamus doloribus voluptates consequuntur quibusdam enim tempora quasi, ad eos provident, voluptatibus quaerat ipsa harum ducimus ullam facere, incidunt veritatis voluptas.

				div(block="slick-paging")
					span(elem="current")
					|  / 
					span(elem="all")

	+advantages
		+adv-item({
			imgMod: 'big',
			img: '2-1',
			animationDelay: 0,
			imgWidth: '55px',
			imgHeight: '55px'
		})
			p
				span(elem="text-md") Кофе-брейки
			p с печеньками
		+adv-item({
			imgMod: 'big',
			img: '2-2',
			animationDelay: 100,
			imgWidth: '54px',
			imgHeight: '54px'
		})
			p
				span(elem="text-md") Завтраки
			p с 8.00 до 11.00
		+adv-item({
			imgMod: 'big',
			img: '2-3',
			animationDelay: 200,
			imgWidth: '63px',
			imgHeight: '47px'
		})
			p
				span(elem="text-md") Обеды
			p самые питательные
		+adv-item({
			imgMod: 'big',
			img: '2-4',
			animationDelay: 300,
			imgWidth: '57px',
			imgHeight: '57px'
		})
			p
				span(elem="text-md") Фуршеты
			p до 300 человек
		+adv-item({
			imgMod: 'big',
			img: '2-5',
			animationDelay: 400,
			imgWidth: '59px',
			imgHeight: '55px'
		})
			p
				span(elem="text-md") Банкеты
			p с живой музыкой

	section.section(block="tarifs")
		.wrap
			h2.h1.title-underline.title-underline--center Наши тарифы

			ul.row(elem="list")

				mixin tarif(obj)
					li.col-12.col-lg-4(elem="item" data-aos=obj.animationType data-aos-easing="ease-in-sine" data-aos-duration="800" data-aos-delay=obj.animationDelay)
						div(block="tarif")
							div(elem="header")
								div(elem="icon")
									+svg(obj.icon)
								div(elem="title")=obj.title
								div(elem="descr")=obj.descr
							div.content(elem="body")
								div(elem="price")
									| #{obj.price+' '}
									i.fa.fa-rub
									|  /час.
								ul
									li гарантийное обслуживание
									li техническая поддержка
									li разработка концепции
									li проектирование
									li монтаж и пуско-наладка
									li обучение

				+tarif({
					'icon': 'monolog',
					'title': '1 секция',
					'descr': 'до 100 человек',
					'price': '4.000',
					animationType: 'fade-right',
					animationDelay: '',
				})

				+tarif({
					'icon': 'dialog',
					'title': '2 секции',
					'descr': 'до 200 человек',
					'price': '6.000',
					animationType: 'fade',
					animationDelay: '',
				})

				+tarif({
					'icon': 'conversation',
					'title': '3 секции',
					'descr': 'до 300 человек',
					'price': '10.000',
					animationType: 'fade-left',
					animationDelay: '',
				})

			.text-center
				a.btn.btn--red(href=href) Оставить заявку

	+advantages(mod="bg-dark")
		+adv-item({
			imgMod: 'big',
			img: '3-1',
			animationDelay: 0,
			imgWidth: '38px',
			imgHeight: '38px'
		})
			p
				span(elem="text-md") Аудиосистемы
			p Качественный звук
		+adv-item({
			imgMod: 'big',
			img: '3-2',
			animationDelay: 100,
			imgWidth: '50px',
			imgHeight: '38px'
		})
			p
				span(elem="text-md") Wi-Fi
			p Бесплатный интернет
		+adv-item({
			imgMod: 'big',
			img: '3-3',
			animationDelay: 200,
			imgWidth: '51px',
			imgHeight: '36px'
		})
			p
				span(elem="text-md") Гардероб
			p На 2.000 мест
		+adv-item({
			imgMod: 'big',
			img: '3-4',
			animationDelay: 300,
			imgWidth: '41px',
			imgHeight: '38px'
		})
			p
				span(elem="text-md") HD проектор
			p Современное оборудование

	section.section(block="equipment")
		.wrap
			h2.h1.title-underline.title-no-offset Оборудование

			div(elem="inner")
				div.slick-arrows-square(elem="slider")
					- var count = 3
					-for(i=1;i<=count;i++)
						div(elem="slide")
							ul(elem="list")
								li(elem="item")
									a(elem="item-link" href="#" data-id=i+"1")
										span(elem="item-text") Проекторы и экраны #{i}
										i(elem="item-icon")

								li(elem="item")
									a(elem="item-link" href="#" data-id=i+"2")
										span(elem="item-text") Конференц-системы #{i}
										i(elem="item-icon")

								li(elem="item")
									a(elem="item-link" href="#" data-id=i+"3")
										span(elem="item-text") Системы синхронного перевода #{i}
										i(elem="item-icon")

								li(elem="item")
									a(elem="item-link" href="#" data-id=i+"4")
										span(elem="item-text") Мультимедиа-проекторы #{i}
										i(elem="item-icon")


				div(elem="content")
					div(elem="content-inner")
						div.d-none.d-md-block(elem="img-wrap")
							img(src="images/media/space-1.jpg", alt="" data-object-fit="cover")

						mixin eq-content(id)
							div.content(elem="text" data-content-id=id)
								div(elem="text-title") Проекторы и экраны #{id}
								p Проекторы различны по своим функциональным параметрам и типу конструкции. Для небольших залов, где нет высоких требований к качеству изображений и световому потоку, где необходимо только стабильное ичетко различимое изображение, хорошо подойдут проекторы, созданные с использованием LCD-технологий.

						-for(i=1;i<=count;i++)
							+eq-content(i+"1")
							+eq-content(i+"2")
							+eq-content(i+"3")
							+eq-content(i+"4")

