extends _layout
block content
	.section.js-content-images.js-responsive-tables(block="content")
		.wrap
			+breadcrumbs(['Главная'], 'Текстовая страница')
			h1.h1.title-underline Текстовая страница

			img(src="images/media/text-page-1.jpg", alt="" style="float:left")

			p Отель в Волгограде «Южный» прекрасно расположен в деловом центре Волгограда и одновременно в историческом районе. Это уникальное сочетание истории города и современного здания отеля отражено и в дизайне интерьера.

			p В шаговой доступности от отеля расположены: красивый парк, Ворошиловский торговый центр, торговая галерея, кинотеатры «Киномакс» и «Пять звезд». 190 номеров, оформленных со вкусом и любовью дали все основания трехзвездочному отелю претендовать на статус популярного городского отеля среди гостей Волгограда.

			p
				a(href=href) Узнайте больше
					i.fa.fa-long-arrow-right


			p
				img(src="images/media/text-page-1.jpg", alt="" style="float:right")
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure officia corporis inventore nesciunt quisquam consequatur sit eligendi provident optio doloribus nulla veritatis deserunt nostrum cupiditate, reprehenderit quae ex commodi eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum accusamus aspernatur non eum iusto debitis nobis hic dolor eos dolore facilis illum, vel minus totam, amet quod quisquam corporis explicabo.
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure officia corporis inventore nesciunt quisquam consequatur sit eligendi provident optio doloribus nulla veritatis deserunt nostrum cupiditate, reprehenderit quae ex commodi eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum accusamus aspernatur non eum iusto debitis nobis hic dolor eos dolore facilis illum, vel minus totam, amet quod quisquam corporis explicabo.

			h2 Заголовок
			.row
				.col-lg-6
					p Отель в Волгограде «Южный» прекрасно расположен в деловом центре Волгограда и одновременно в историческом районе. Это уникальное сочетание истории города и современного здания отеля отражено и в дизайне интерьера.
					blockquote В шаговой доступности от отеля расположены: красивый парк, Ворошиловский торговый центр, торговая галерея, кинотеатры «Киномакс» и «Пять звезд».

				.col-lg-6
					ul
						li гарантийное обслуживание гарантийное обслуживание
						li техническая поддержка техническая поддержка
						li разработка концепции разработка концепции
						li проектирование проектирование проектирование
						li монтаж и пуско-наладка монтаж и пуско-наладка
						li обучение обучение обучение

			h3 Таблица

			table
				tr
					td adsadas
					td adsadas
					td adsadas

				tr
					td adsadas
					td adsadas
					td adsadas

			br

			table.styled-table
				thead
					tr
						th Место 1
						th Место 2
						th Сумма
				tbody
					-for(i=1;i<=3;i++)
						tr
							td Конференц-зал 1 секция (50-80 чел.)
							td Конференц-зал 2 секции (100-200 чел.)
							td 2.300 
								i.fa.fa-rub
